body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  overflow: hidden;
  background-color: rgb(0,0,0,0.5);
}
video {
  filter: blur(10px) contrast(80%) brightness(100%) saturate(200%);
  z-index: -1;
  position: absolute;
  left:0;
  top:0;
}

#app{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 3px black;
}
svg{
  filter: drop-shadow(2px 2px 2px black);
}
.MuiTypography-h3{
  text-decoration:underline;
}
.MuiButton-outlined{
  /* color:#ffa726ff!important; */
  color: white!important;
  border-width: 3px!important;
  /* border-color: #ffa726ff; */
  border-color: white!important;
  /* background-color: #ffa72633!important; */
  background-color: #ffffff33!important;
  opacity: 1!important;
}
#start-stop-button:disabled{
  opacity: 0.1!important;
}
